@model MobilyaProje.Models.FormGonder
@{
    ViewBag.Title = "TalepOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (TempData["formgonder"] != null)
{
    <script>
        swal("Kayalartasarim.com", "Talebiniz Başarılı bir Şekilde Gönderilmiştir", "success");
    </script>

}
<!-- subheader begin -->
<section id="subheader" data-speed="8" data-type="background"
         style="background-image: url('/img/bg-37bb5.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>Talep Oluştur</h1>
                </div>
                <ul class="crumb">
                    <li>
                        <a rel="v:url" property="v:title" href="/">AnaSayfa</a>
                    </li>
                    <b>/</b>
                    <li class="active">Talep Oluştur</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->


<section class="wpb_row vc_row-fluid vc_custom_1438577300524">
    <div class="container">
        <div class="row">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper wow fadeInLeft">
                        <br />
                        <h3 style="">Form Gönder</h3>
                        <div class="vc_empty_space" style="height: 10px">
                            <span class="vc_empty_space_inner">
                            </span>
                        </div>
                        <div role="form" class="wpcf7" id="wpcf7-f283-p256-o1" lang="tr-TR" dir="ltr">

                            @using (Html.BeginForm("TalepOlustur", "Home", FormMethod.Post))
                            {

                                @*@Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Ad Soyad</label>
                                        <input type="text" name="AdSoyad" value="" />
                                        @*@Html.TextBoxFor(x => x.AdSoyad, new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" })
        @Html.ValidationMessageFor(x => x.AdSoyad, "", new { @style = "color:red" })*@

                                        <label>E-Posta</label>
                                        <input type="text" name="EPosta" value="" />
                                        @*@Html.TextBoxFor(x => x.EPosta, new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" })
        @Html.ValidationMessageFor(x => x.EPosta, "", new { @style = "color:red" })*@

                                        <label>Telefon No</label>
                                        <input type="text" name="TelNo" value="" />

                                        @*@Html.TextBoxFor(x => x.TelNo, "Telefon No*", new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" })
        @Html.ValidationMessageFor(x => x.TelNo, "", new { @style = "color:red" })*@

                                        <label>Proje Başlığı</label>
                                        <input type="text" name="ProjeBaslik" value="" />

                                        @*@Html.TextBoxFor(x => x.ProjeBaslik, new { @class = "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" })
        @Html.ValidationMessageFor(x => x.ProjeBaslik, "", new { @style = "color:red" })*@

                                    </div>
                                    <div class="col-md-6">


                                        <input class="medium-input bg-white margin-25px-bottom required" type="text" name="TakipKodu" readonly hidden="" value="@ViewBag.takipkod">

                                        <label>Hizmet Seçenekleri</label>
                                        @Html.DropDownListFor(x => x.NeYapiyoruz.id, (List<SelectListItem>)ViewBag.dgr2, "Hizmet Seçiniz", new { @class = "form-control" })


                                        <br />

                                        <textarea class="" rows="6" name="ileti" required="" style="margin-top:10px; height:250px;" placeholder="Detaylı Açıklama*"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <p id="submit"><input type="submit" value="Mesaj Gönder" class="wpcf7-form-control has-spinner wpcf7-submit btn btn-line" /></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (TempData["iletisimmesaj"] != null)
{
    <script>
        swal("Kayalartasarim.com", "Mesajınız Başarılı bir Şekilde Gönderilmiştir", "success");
    </script>

}

<form method="post" class="wpcf7-form init">
    <div class="row">
        <div class="col-md-4">
            <div><span class="wpcf7-form-control-wrap your-name"><input type="text" name="AdSoyad" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ad Soyad" required="" /></span> </div>
            <div><span class="wpcf7-form-control-wrap email-453"><input type="email" name="EPosta" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-posta" required="" /></span> </div>
            <div><span class="wpcf7-form-control-wrap tel-565"><input type="tel" name="TelNo" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Telefon" required="" /></span></div>
            <div><span class="wpcf7-form-control-wrap tel-565"><input type="text" name="ProjeBaslik" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Telefon" required="" /></span></div>
            <label>Hizmet Seçenekleri</label>
            @Html.DropDownListFor(x => x.NeYapiyoruz.id, (List<SelectListItem>)ViewBag.dgr2, "Hizmet Seçiniz", new { @class = "form-control" })

        </div>
        <div class="col-md-8">
            <div><span class="wpcf7-form-control-wrap message"><textarea name="ileti" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Mesajınız" required=""></textarea></span></div>
        </div>
        <div class="col-md-12">
            <p id="submit"><input type="submit" value="Talep Gönder" class="wpcf7-form-control has-spinner wpcf7-submit btn btn-line" /></p>
        </div>
    </div>
    <div class="wpcf7-response-output" aria-hidden="true"></div>
</form>*@